* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#titulo {
    color: #000000;
    font-size: 2.5em; /* Tamaño más grande */
    font-weight: bold;
    text-align: center;
   
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #8B5E3C !important;
}



/* Ajustes para pantallas medianas */
@media (max-width: 768px) {
    #titulo {
        font-size: 2em; /* Reducido para tablets */
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 480px) {
    #titulo {
        font-size: 1.5em; /* Tamaño más reducido para móviles */
    }
}
.nav-link {
    color: #000000 !important; /* Beige claro */
    margin-right: 15px;
    font-size: 1.1em;
    opacity: 1 !important;
    visibility: visible !important; /* Fuerza a que sea visible */
}

.nav-link:hover {
    color: #000000 !important;
    opacity: 1 !important;
    visibility: visible !important;
}
body {
    background-color: #b48750;
}

/* Navbar Bootstrap */
#navbar-example2 {
    background-color: #000000;
    padding: 10px 30px;
    box-shadow: 0 5px 8px rgba(85, 56, 30, 0.4);
    position: relative;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.navbar-brand {
    color: #000000;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.navbar-brand:hover {
    color: #e9dbc8;
}



/* Navegación */
.nav-link {
    color: #000000 !important;
    margin-right: 15px;
    font-size: 1.1em; /* Aumentado para mayor visibilidad */
    opacity: 1 !important; /* Evitar que desaparezcan */
}

.nav-link:hover {
    color: #e9dbc8 !important;
    opacity: 1 !important; /* Evitar que desaparezcan al hover */
}

/* Dropdown */
.dropdown-toggle {
    background-color: #000000;
    border: none;
    color: #f6f1eb !important;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: #8B5E3C;
}

.dropdown-menu {
    background-color: #e9dbc8;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #5e3c1a;
}

.dropdown-item:hover {
    background-color: #d2b48c;
}

/* Responsividad */
@media (max-width: 768px) {
    #navbar-example2 {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .dropdown-toggle {
        width: 100%;
        text-align: left;
    }

    .dropdown-menu {
        width: 100%;
    }

    .nav-link {
        display: block;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .logo-img {
        height: 40px;
    }

    .navbar-brand {
        font-size: 1.1em;
    }
}
