body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f1e1; /* Beige claro */
    color: #4d3b2e; /* Marrón oscuro */
}

main {
    height: 100%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff; /* Blanco para el contenido */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #c8a96d; /* Borde marrón claro */
    max-width: 1000px;
}

h1, h2 {
    color: #3e2a2a; /* Marrón oscuro */
    font-weight: 600;
}

p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: #4d3b2e; /* Marrón medio */
}

h2 {
    margin-top: 30px;
}

@media (max-width: 600px) {
    body {
        background-color: #f0e6d2; /* Beige más suave */
    }
    
    main {
        padding: 15px;
        margin: 15px;
        font-size: 0.9rem;
        max-width: 100%;
    }
    
    h1, h2 {
        font-size: 1.2rem; /* Tamaño de fuente reducido en pantallas pequeñas */
    }

    p {
        font-size: 0.9rem; /* Reducir tamaño de fuente de los párrafos */
    }
}
